body{
  font-family: "Noto Serif JP", serif;
  font-size: 15px;
  line-height: 1.5;
  color:#333
}

label, input, textarea, select{
  cursor: pointer;
}

form-button{
  border: 0px;
}

.alert{
	text-align:center;
	color:  rgb(193, 22, 85);
	font-weight: bold;
}

/* section */

.section{
  padding: 30px 15px;

}

.section.section2{
  background: #efefef;
  font-size:20px;
}

.section-headline{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px 0;

}

.section-button{
  margin-top: 40px;
  text-align: center;
}


.button{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 7px 7px 0 #bbb ;
  transition: box-shadow .3s;
}

.button:hover{
  box-shadow: 0 0 0 #bbb ;
}

.button.button-submission{
  background: rgba(10, 10, 10, 0.479);;
}

/* input,select, textarea */

.select{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;

}
.input{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccc;
  min-width: 500px;
}


.textarea{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccc;
  min-width: 500px;
  min-height: 100px;
}

.form-table{
  margin: 0 auto;

}

.table-row{

}

.table-headline{
  padding: 10px;
  text-align: left;
}

.table-data{
  padding: 10px;

}

.form-button{
  text-align: center;

}

.textarea{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccc;
  min-width: 500px;
  min-height: 100px;

}

/*
テーブル
*/
.title{
	font-weight:bold;
	color:black;
}

.contents-table{
	margin 0 auto;
	width:95vw;
}

.table-upperrow{
	text-align:center;
}

.table-text{
	white-space:pre-wrap;
	word-break: break-all;
	border:2px solid;
}
.tabledata-text{
	border-bottom: 2px solid  rgb(57, 56, 56);;
}






